<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos Actuales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ pnombre }}</p>
      <p><strong>Apellido:</strong> {{ papellido }}</p>
      <p><strong>Nickname:</strong> {{ nickname }}</p>
      <p><strong>Correo Electrónico:</strong> {{ eleCorreo }}</p>
    </ion-card-content>
  </ion-card>

  <form (ngSubmit)="enviarConfirmacion()">
    <ion-item>
      <ion-label position="floating">Nuevo Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="pnombre" name="pnombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nuevo Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="papellido" name="papellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nuevo Nickname</ion-label>
      <ion-input type="text" [(ngModel)]="nickname" name="nickname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nuevo Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="eleCorreo" name="eleCorreo" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Actualizar Datos</ion-button>
  </form>
</ion-content>
