<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <ion-title>
      <h3>Inicio de Sesión de Admin</h3>
    </ion-title>

    <ion-item>
      <ion-input label="Ingresa tu nombre de Admin" labelPlacement="floating" placeholder="Nombre de Admi" [(ngModel)]="newNameUser"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Ingresa tu contraseña" labelPlacement="floating" placeholder="Ingresa tu contraseña" [(ngModel)]="password"><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
    </ion-item>



    <ion-button expand="block" color="purpuranegro" (click)="validarRegistro()">
      Iniciar sesión
    </ion-button>

    <p class="forgot-password" color="blancohielo">
      <a href="/forgot-password">¿Problemas con tu cuenta?</a>
    </p>
  </div>
</ion-content>

