<ion-content [fullscreen]="true">

    <div class="imagen-container">
        <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" />
    </div>


    <div class="div-grande">


        <!------------------------------------ Botón Atrás ------------------------------------>
        <ion-button fill="clear" class="icono-atras">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        <!------------------------------------------------------------------------------------>




        <!------------------------------------ Detalles del Juego ------------------------------------>
        <div class="game-details">



            <h1 class="titulo-bienvenida">Nombre juego</h1>
            <!------------------------------------------------------------------------------------>
            <hr>
            <!------------------------------------------------------------------------------------>

            <h3 class="color-t">Descripción:</h3>
            <p class="color-t">descripcion lkhsdhas;fjajkfasjfjash;;asfjajsjakfkjahskfjs;askj;;jfksa;kjfskj;f</p>
            <hr>
            <h4 class="color-t">Tipo de Jugabilidad:</h4>
            <p class="color-t">juego</p>



        </div>
        <!-------------------------------------------------------------------------------------------->



        <!------------------------------------ Torneos Relacionados ------------------------------------>
        <div class="participando">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, et odio facilis adipisci non quaerat, dignissimos ut, suscipit alias totam corporis quod beatae est unde? Quisquam omnis tempora amet voluptas?</p>

        </div>
        <div class="key">
            <h1>key:</h1>
        </div>

        <!-------------------------------------------------------------------------------------------->
    </div>



</ion-content>