.superior {
    display: flex;
    justify-content: center;
}

.login-recuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 100px;
    padding-top: 100px;
}

.login-card {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

.owo {
    margin-top: 30px;
    /* Espaciado entre el botón y el formulario */
    display: block;
    margin: 0 auto;
    /* Centra el botón en el eje X */
    text-align: center;
    width: fit-content;
    /* Ajusta el ancho del botón al contenido */
}