/* Estilos generales */

h1 {
    margin: 0;
    /* Eliminar margen superior e inferior */
}

ion-header {
    --background: transparent;
    /* Fondo transparente */
}


/* Estilos del contenido */

ion-content {
    --background: #2f3153;
    /* Fondo oscuro */
    color: #ffffff;
    /* Color de texto */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    padding: 15px;
}


/* Estilos del toolbar */

ion-toolbar {
    --background: #32345A;
    /* Fondo del toolbar */
    color: #C9B1BD;
    /* Color del texto del toolbar */
}

ion-avatar img {
    border-radius: 50%;
    /* Avatar redondeado */
}


/* Estilos de la barra de pestañas */

ion-tab-bar {
    background-color: #32345A;
    /* Fondo de la barra de pestañas */
}

ion-tab-button {
    color: #C9B1BD;
    /* Color de los botones de pestaña */
}

ion-tab-button[aria-selected="true"] ion-icon {
    color: #BE685D;
    /* Color del icono seleccionado */
}

hr {
    margin-top: 2rem;
    /* Espacio arriba */
    margin-bottom: 2rem;
    /* Espacio abajo */
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* Línea horizontal */
}


/* Estilo para la fecha de noticias */

.news-date {
    font-size: 0.8em;
    /* Tamaño de fuente pequeño */
    color: #aaaaaa;
    /* Color gris claro */
}

ion-thumbnail {
    width: 80px;
    /* Ajustar el tamaño de la imagen */
    height: 80px;
}


/* Estilo de botones */

ion-button {
    --background: #800080;
    /* Color morado */
    margin-top: 10px;
    /* Margen superior */
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.buscador {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    background-color: #474a7f;
    /* Color gris violáceo */
    border-radius: 20px;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    margin: 10px;
    margin: 10px;
}

.item-b {
    --background: #8183a4;
    --border-radius: 12px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 5px;
    padding-bottom: 20px;
}

.espacio {
    margin-bottom: 20px;
    /* Ajusta el espacio según necesites */
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    color: #ffffff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    padding-bottom: 5px;
}

.btn-limpiar {
    --background: #3b678a;
    padding-bottom: 20px;
}

.container {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4a4d81;
    /* Color gris violáceo */
    border-radius: 20px;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.torneo-card {
    --background: #313463;
    padding: 15px;
    border-radius: 20px;
}

.content-container {
    background: #4a4d81;
    border-radius: 15px;
}

.no-torneos {
    --background: #4a4d81;
    padding: auto;
    text-align: center;
}

.ojo {
    color: white;
}

.box {
    --background: #8183a4;
    border-radius: 5px;
}

///////////////////icono atras
.icono-atras {
    --background: #2f3153;
    color: #ffffff;
    position: absolute;
    /* Color del texto */
}

.blanco {
    color: white;
}

#logo {
    width: 70%;
    position: static;
    padding-left: 100px;
}