<ion-header>
    <!-- Toolbar con botón de menú y avatar -->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-avatar slot="end">
            <img src="assets/icon/user-circle-svgrepo-com.png" alt="Avatar" (click)="ircuenta()">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<!---------------------------header--------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------>
<!-----------------------------body------------------------------------------------------------------------->

<ion-content class="buscador">



    <ion-button fill="clear" class="icono-atras" (click)="irAtras()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>

    <img id="logo" src="assets/icon/logo-p.png" alt="Logo">


    <!-- Formulario de búsqueda para filtrar por nombre y juego -->
    <div>
        <div class="buscador">
            <h1>Buscar torneo</h1>
            <ion-item class="item-b">

                <ion-label class="espacio" position="floating">Buscar por nombre</ion-label>
                <ion-input [(ngModel)]="nombreFiltro" placeholder="Nombre del torneo" (ionInput)="filtrarTorneos()"></ion-input>
            </ion-item>

            <ion-item class="item-b">
                <ion-label class="espacio" position="floating">Filtrar por juego</ion-label>
                <ion-select [(ngModel)]="juegoFiltro" placeholder="Selecciona un juego" (ionChange)="filtrarTorneos()">
                    <ion-select-option *ngFor="let juego of juegos" [value]="juego.nombre">
                        {{ juego.nombre }}
                    </ion-select-option>
                </ion-select>
            </ion-item>



            <!-- Botón para limpiar filtros -->
            <ion-button class="btn-limpiar" expand="full" (click)="limpiarFiltros()">Limpiar Filtros</ion-button>
        </div>

    </div>



    <!------------------------------------------------------------------------------------------------------>
    <hr>
    <!------------------------------------------------------------------------------------------------------>



    <!-- Lista de torneos filtrados -->
    <div *ngIf="!loading">

        <div>
            <!-- Si hay torneos filtrados -->

            <ion-list class="content-container">
                <h1>Torneos</h1>
                <hr>

                <div *ngIf="torneosFiltrados.length > 0; else noTorneos">
                    <!------------------------------------------------------------------------------------------------------>
                    <ion-card *ngFor="let torneo of torneosFiltrados" (click)="seleccionarTorneo(torneo)" class="torneo-card">
                        <ion-card-header>
                            <ion-card-title class="blanco">{{torneo.nombre}}</ion-card-title>
                        </ion-card-header>
                        <!------------------------------------------------------------------------------------------------------>
                        <ion-card-content>

                            <ion-item class="box">
                                <ion-label>
                                    <p class="blanco"><strong>Juego:</strong> {{torneo.juegoNombre}}</p>
                                    <p class="blanco"><strong>Estado:</strong> {{torneo.estado}}</p>
                                </ion-label>
                                <!-- Imagen de torneo -->
                                <ion-thumbnail slot="end">
                                    <img [src]="torneo.imagen" alt="{{torneo.nombre}}">
                                </ion-thumbnail>
                            </ion-item>

                        </ion-card-content>
                    </ion-card>
                </div>


            </ion-list>
            <!------------------------------------------------------------------------------------------------------>







            <!-- Si no hay torneos creados -->
            <ng-template class="no-torneos" #noTorneos>
                <div class="no-torneos">
                    <ion-label class="no-torneos">
                        <p class="ojo">No hay torneos creados todavía.</p>
                    </ion-label>
                </div>
            </ng-template>
        </div>
    </div>

</ion-content>