<br>
<ion-content class="ion-padding">
    <img id="logo" src="assets/icon/logo.png" alt="Logo">
    <div class="welcome-container">
        <ion-button expand="block" color="primary" (click)="inicio()">Comenzar</ion-button>
    </div>
</ion-content>

<ion-footer>



    <!-------------------------------toolbar----------------------------------------------------------------------->
    <ion-toolbar>
        <ion-title color="primary" size="small" class="ion-text-center">
            <p>Ingresa como administrador con
                <a (click)="adminLogin()">este enlace</a>
            </p>
        </ion-title>
    </ion-toolbar>

    <!------------------------------------------------------------------------------------------------------>



</ion-footer>