<ion-content [fullscreen]="true">
  <br>
  <ion-title>
    <h3>Regístrate</h3>
  </ion-title>
  <br>
  
  <div class="container">
    <form (ngSubmit)="validarRegistro()">

      <div *ngIf="pnombreError" class="error-message">{{ pnombreError }}</div>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input placeholder="Ingresa tu nombre" [(ngModel)]="nuevoUsuario.pnombre" name="pnombre" required></ion-input>
      </ion-item>
      

      <div *ngIf="papellidoError" class="error-message">{{ papellidoError }}</div>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input placeholder="Ingresa tu apellido" [(ngModel)]="nuevoUsuario.papellido" name="papellido" required></ion-input>
      </ion-item>
      

      <div *ngIf="nicknameError" class="error-message">{{ nicknameError }}</div>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input placeholder="Ingresa un nombre de usuario" [(ngModel)]="nuevoUsuario.nickname" name="nickname" required></ion-input>
      </ion-item>
      

      <div *ngIf="correoError" class="error-message">{{ correoError }}</div>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" placeholder="Ingresa tu correo electrónico" [(ngModel)]="nuevoUsuario.correo" name="correo" required></ion-input>
      </ion-item>
      

      <div *ngIf="contrasenaError" class="error-message">{{ contrasenaError }}</div>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="Ingresa una contraseña" [(ngModel)]="nuevoUsuario.contrasena" name="contrasena" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      

      <div *ngIf="confiPasswordError" class="error-message">{{ confiPasswordError }}</div>
      <ion-item>
        <ion-label position="floating">Confirma la Contraseña</ion-label>
        <ion-input type="password" placeholder="Confirma la contraseña" [(ngModel)]="confiPassword" name="confiPassword" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      

      <div *ngIf="fechaNacimientoError" class="error-message">{{ fechaNacimientoError }}</div>
      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-input type="date" [(ngModel)]="nuevoUsuario.fechaNacimiento" name="fechaNacimiento" required (ionChange)="verificarEdad()"></ion-input>
      </ion-item>
      <!-- Display calculated age here -->
      <ion-item *ngIf="nuevoUsuario.edad">
        <ion-label>Edad: {{ nuevoUsuario.edad }} años</ion-label>
      </ion-item>

      <div *ngIf="paisError" class="error-message">{{ paisError }}</div>
      <ion-item>
        <ion-label position="floating">País</ion-label>
        <!-- Select con lista de países -->
        <ion-select [(ngModel)]="nuevoUsuario.pais" name="pais" interface="popover" placeholder="Selecciona tu país" required>
          <ion-select-option value="Argentina">Argentina</ion-select-option>
          <ion-select-option value="Bolivia">Bolivia</ion-select-option>
          <ion-select-option value="Chile">Chile</ion-select-option>
          <ion-select-option value="Colombia">Colombia</ion-select-option>
          <ion-select-option value="Paraguay">Paraguay</ion-select-option>
          <ion-select-option value="Perú">Perú</ion-select-option>
          <ion-select-option value="Uruguay">Uruguay</ion-select-option>
          <ion-select-option value="Venezuela">Venezuela</ion-select-option>
        </ion-select>
      </ion-item>
      

      <ion-button expand="full" color="azulelectrico" type="submit">Registrarse</ion-button>
    </form>
  </div>

  <div class="separator"></div> <!-- Línea de separación -->

  <p style="color: blancohielo;">¿Ya tienes una cuenta?
    <a (click)="irLogin()">Inicia sesión</a>
  </p>
</ion-content>
