<ion-content>
    <div class="paddin">
        <ion-title>Iniciar Sesión</ion-title>

        <div class="div-grande">


            <form (ngSubmit)="loginUsuario()">
                <ion-item>
                    <ion-label class="pos" position="floating">Correo</ion-label>
                    <ion-input label="Ingresa tu correo electronico" labelPlacement="floating" placeholder="Correo de usaurio" [(ngModel)]="correoNickname" name="correoNickname"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="pos" position="floating">Contraseña</ion-label>
                    <ion-input label="Ingresa tu contraseña" labelPlacement="floating" placeholder="Ingresa tu contraseña" type="password" [(ngModel)]="contrasena" name="contrasena">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    </ion-input>
                </ion-item>
                <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
            </form>

        </div>

        <p color="blancohielo">
            <a (click)="irPagina()">¿Problemas con tu cuenta?</a>
        </p>
    </div>

</ion-content>