/* Asegura que el menú ocupe todo el alto y ancho */

ion-menu {
    --background: #1A1C3C;
    height: 100%;
    /* Asegura que el menú ocupe todo el alto */
    width: 100%;
    /* Asegura que el menú ocupe todo el ancho */
    border: none;
    /* Eliminar posibles bordes */
    padding: 0;
    /* Eliminar padding interno */
    margin: 0;
    /* Eliminar márgenes externos */
}

ion-content {
    --background: #1A1C3C;
    height: 100%;
    /* Ocupa todo el alto del menú */
    padding: 0;
    /* Eliminar cualquier padding interno */
}

ion-list {
    padding: 0;
    /* Eliminar cualquier padding de la lista */
    margin: 0;
    /* Eliminar márgenes */
}

ion-item {
    --background: #1A1C3C;
    /* Fondo de los items del menú */
    color: white;
    /* Color del texto */
    --padding-start: 10px;
    --padding-end: 10px;
    --min-height: 50px;
    margin: 0;
    /* Eliminar cualquier margen */
}

.arreglo {
    padding: 0;
    /* Eliminar padding */
    margin: 0;
    /* Eliminar márgenes */
    --background: #1A1C3C;
    /* Fondo uniforme */
}

ion-list-header {
    font-size: 22px;
    font-weight: bold;
    color: white;
    /* Asegurar que el texto sea visible */
    padding: 10px;
    background: #1A1C3C;
    /* Fondo del encabezado */
}

ion-icon {
    font-size: 24px;
    color: #364bc5;
    /* Color de los íconos */
}