.separator {
    width: 100%;
    max-width: 400px;
    height: 1px;
    background-color: #ffffff;
    /* Color rosa pálido */
    margin: 24px 0;
}

.error {
    color: red;
    /* o el color que prefieras */
    font-size: 12px;
    margin-top: 5px;
}

ion-title {
    text-align: center;
    color: #ffffff;
}

ion-content {
    --background: #1A1C3C;
    /* Fondo general del formulario */
    color: #ffffff;
}

ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    --background: #868192;
    /* Color gris violáceo */
    --border-radius: 12px;
}

ion-input {
    width: 100%;
    padding: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
}

ion-button {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    --border-radius: 12px;
    --background: #5A556E;
    /* Color gris oscuro con un matiz púrpura */
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #C9B1BD;
    /* Color rosa pálido */
    text-align: center;
    margin-top: 16px;
    a {
        color: #00fff2;
        /* Color rojo-marrón */
        text-decoration: none;
    }
}

.separator {
    width: 100%;
    max-width: 400px;
    height: 1px;
    background-color: #ffffff;
    /* Color rosa pálido */
    margin: 24px 0;
}

p.register {
    margin-top: 8px;
}

.container-calen {
    --background: #868192;
    /* Fondo del mismo color que el resto del formulario */
    --color: #ffffff;
    /* Color del texto blanco para que contraste bien */
    --border-radius: 12px;
}

ion-datetime {
    --background: #1A1C3C;
    /* Fondo del mismo color que el formulario */
    --color: #ffffff;
    /* Texto en blanco */
    border-radius: 20px;
}

.titulo-fecha text {
    border-bottom: 100px;
}

.div-grande {
    margin: 20px;
    margin-bottom: 200px;
}

.titulo {
    margin-top: 20px;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(125, 124, 124, 0.1);
}
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .left, .right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: var(--ion-color-primary);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .left {
    background-color: lightblue;
  }
  
  .right {
    background-color: lightgreen;
  }
  
  .left:hover, .right:hover {
    transform: scale(1.1);
  }
  