<ion-content class="general" [fullscreen]="true">






    <div class="div-grande">
        <div class="imagen-container">
            <img src="assets/img/logoo.png" alt="logoo" />
        </div>

        <!------------------------------------ Botón Atrás ------------------------------------>
        <ion-button fill="clear" class="icono-atras" (click)="home()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        <!------------------------------------------------------------------------------------>




        <!------------------------------------ Detalles del Juego ------------------------------------>
        <div class="game-details">



            <h1 class="titulo-bienvenida">Duelos</h1>
            <!------------------------------------------------------------------------------------>
            <hr>
            <!------------------------------------------------------------------------------------>

            <p class="color-t">Aca se ven todos los duelos de del respectivo torneo , por favor administrador asignar ganador.</p>
            <hr>




        </div>
        <!-------------------------------------------------------------------------------------------->

        <!------------------------------------ Torneos Relacionados ------------------------------------>
        <div class="torneos-section">


            <h2>Duelos Relacionados</h2>


        </div>
        <!-------------------------------------------------------------------------------------------->
    </div>
</ion-content>