ion-content {
    --background: #2e2f3a;
    color: #fff;
}

.game-details {
    text-align: center;
    padding: 15px;
}

.game-logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(50, 52, 90, 0.5);
    margin: 10px 0;
}

.torneos-section {
    padding: 15px;
}

ion-list {
    margin: 10px 0;
}

/////////////////////////////////////imagen atras
.imagen-container {
    display: flex;
    /* Activa Flexbox */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    margin: 0 auto;
    /* Centra el contenedor en el eje horizontal */
    margin-bottom: 20px;
    /* Espacio entre la imagen y el siguiente contenido */
    height: auto;
    /* Permite ajustar la altura según el contenido */
    width: 100%;
    /* Se asegura que ocupe todo el ancho disponible */
}

.imagen-container img {
    max-width: 150px;
    /* Ajusta el ancho máximo de la imagen */
    height: auto;
    /* Mantiene las proporciones */
    object-fit: contain;
    /* Evita deformaciones */
}

//////////////////////////div que tiene todo///////////////////////////////
.div-grande {
    background-color: #2f3153;
    padding: 20px;
    text-align: center;
    height: 100vh;
    /* Ocupa toda la ventana del navegador */
    width: 100%;
    /* Asegúrate de que ocupe todo el ancho */
}

//////////////////div de los torneos dispo///////////////////////////////////////
.div-torneos {
    padding: 15px;
    background-color: #32345A;
    /* Fondo del contenedor */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra para profundidad */
}

////////////////////icono atras/////////////////////////////////////
.icono-atras {
    position: absolute;
    top: 10px;
    left: 20px;
}

.color-t {
    color: white;
}

.titulo-bienvenida {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 40px;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.torneos-section {
    border-radius: 20px;
    background-color: #3e3f4c;
    padding: 0px;
    border: 0px;
}

.item-b {
    --background: #8183a4;
    --border-radius: 12px;
    margin-bottom: 16px;
    margin: 5px;
    padding-bottom: 20px;
}

.box2 {
    --background: #8183a4;
    --border-radius: 12px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 5px;
    padding-bottom: 20px;
}