<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-icon name="arrow-back-circle-outline" class="ico-atras" (click)="admin_c()"></ion-icon>
        </ion-buttons>
        <h2 class="tit-toolbar">Crear torneo</h2>

    </ion-toolbar>
</ion-header>


<!-------------------header-------------------------------->
<!--------------------------------------------------->
<!----------------------body----------------------------->



<ion-content [fullscreen]="true">


    <div class="container">

        <form (ngSubmit)="guardarTorneo()">
            <ion-item>
                <ion-label class="centro-item" position="floating">Nombre del Torneo</ion-label>
                <ion-input class="espacio" [(ngModel)]="nuevoTorneo.nombre" name="nombre" required></ion-input>
            </ion-item>





            <ion-item>
                <ion-label position="floating">Juego</ion-label>
                <ion-select [(ngModel)]="nuevoTorneo.juegoId" name="juego" required>
                    <ion-select-option value="1">Valorant</ion-select-option>
                    <ion-select-option value="2">League of Legends</ion-select-option>
                    <ion-select-option value="3">Fortnite</ion-select-option>
                    <ion-select-option value="4">Street Fighter</ion-select-option>
                </ion-select>
            </ion-item>




            <ion-item>
                <ion-label position="floating">Estado</ion-label>
                <ion-select [(ngModel)]="nuevoTorneo.estado" name="estado" required>
                    <ion-select-option value="Próximo">Próximo</ion-select-option>
                    <ion-select-option value="En curso">En curso</ion-select-option>
                </ion-select>
            </ion-item>




            <ion-item>
                <ion-label position="floating">Cupos</ion-label>
                <ion-select [(ngModel)]="nuevoTorneo.numEquipos" name="numEquipos" required #numEquipos="ngModel">
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="8">8</ion-select-option>
                    <ion-select-option value="16">16</ion-select-option>
                </ion-select>
            </ion-item>
            




            <ion-item>
                <ion-label position="floating">Fecha de Inicio</ion-label>
                <ion-datetime [(ngModel)]="nuevoTorneo.fechaInicio" 
                              presentation="date-time" 
                              name="fechaInicio" 
                              display-format="DD/MM/YYYY HH:mm" 
                              required>
                </ion-datetime>
            </ion-item>
            




            <ion-item>
                <ion-label>Imagen del Torneo</ion-label>
                <ion-button (click)="onFileSelected()">Seleccionar Imagen</ion-button>
            </ion-item>




            <ion-item *ngIf="previewImage">
                <ion-img [src]="previewImage"></ion-img>
            </ion-item>




            <ion-button expand="full" type="submit">Crear Torneo</ion-button>

        </form>


    </div>

</ion-content>