<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Torneo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="guardarTorneo()">
    <ion-item>
      <ion-label position="floating">Nombre del Torneo</ion-label>
      <ion-input [(ngModel)]="nuevoTorneo.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Juego</ion-label>
      <ion-select [(ngModel)]="nuevoTorneo.juego" name="juego" required>
        <ion-select-option value="Valorant">Valorant</ion-select-option>
        <ion-select-option value="Fortnite">Fortnite</ion-select-option>
        <ion-select-option value="LoL">League of Legends</ion-select-option>
        <ion-select-option value="Street Fighter">Street Fighter</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select [(ngModel)]="nuevoTorneo.estado" name="estado" required>
        <ion-select-option value="Próximo">Próximo</ion-select-option>
        <ion-select-option value="En curso">En curso</ion-select-option>
        <ion-select-option value="Finalizado">Finalizado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Equipos Inscritos</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoTorneo.numEquipos" name="numEquipos" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Inicio</ion-label>
      <ion-datetime [(ngModel)]="nuevoTorneo.fechaInicio" name="fechaInicio" display-format="YYYY-MM-DD" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Imagen del Torneo</ion-label>
      <ion-button (click)="onFileSelected()">Seleccionar Imagen</ion-button>
    </ion-item>

    <ion-item *ngIf="previewImage">
      <ion-img [src]="previewImage"></ion-img>
    </ion-item>

    <ion-button expand="full" type="submit">Crear Torneo</ion-button>
  </form>
</ion-content>
