<ion-content class="general" [fullscreen]="true">

    <!-- Imagen principal -->
    <div class="imagen-container">
        <img src="assets/img/Street-Fighter-6.jpg" alt="Street Fighter" onerror="this.src='assets/img/default.jpg'" />
    </div>

    <div class="div-grande">

        <!-- Botón de regreso -->
        <ion-button fill="clear" class="icono-atras" (click)="irAtras()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>

        <!-- Perfil del usuario -->
        <div class="div-foto-perfil">
            <ion-button (click)="toggleMenu()" fill="clear" class="icono-config"></ion-button>
            <ion-list *ngIf="menuVisible">
                <ion-item button (click)="ediPerfil()">Editar perfil</ion-item>
            </ion-list>

            <ion-avatar class="avatar">
                <img [src]="usuario.imagen_user || 'assets/img/default-avatar.png'" alt="Foto de perfil del usuario" />
            </ion-avatar>

            <div class="info-perfil">
                <h2 class="color-n">{{usuario.nickname}}</h2>
            </div>
            <hr />

            <!-- Ficha de Jugador -->
            <ion-card id="torneos-h">
                <ion-card-header>
                    <ion-card-title>Ficha de Jugador</ion-card-title>
                </ion-card-header>

                <ion-item>
                    <ion-label position="floating">Nombre</ion-label>
                    <h6 class="color-n">{{usuario.pnombre}} {{usuario.papellido}}</h6>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Correo</ion-label>
                    <h6 class="color-n">{{usuario.correo}}</h6>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nickname</ion-label>
                    <h6 class="color-n">{{usuario.nickname}}</h6>
                </ion-item>
            </ion-card>

            <ion-button (click)="ediPerfil()">Modificar Perfil</ion-button>
            <ion-button (click)="cambiarContra()">Modificar Contraseña</ion-button>
            <hr />


        </div>
    </div>
</ion-content>
