////////////////////////////// principal /////////////////////////////////////////////
ion-content {
    --background: #2e2f3a;
    color: #fff;
}

ion-segment {
    margin: 20px 0;
}

////////////////icono foto///////////////
ion-icon {
    color: white;
}

////////////////////////////////////////////////
.torneos {
    display: flex;
    margin-bottom: 10;
    max-height: 500px;
    overflow-y: scroll;
}

#torneos {
    border-radius: 30px;
}

#torneos-h {
    display: flex;
    flex-flow: column wrap;
    overflow-y: hidden;
}

#torneos-h {
    display: flex;
    overflow-y: hidden;
}

#torneos-1 {
    display: flex;
    overflow-y: scroll;
    align-items: center;
}

#historial {
    border-radius: 30px;
    display: flex;
    flex-flow: column wrap;
}

.historial {
    display: flex;
    margin-bottom: 10;
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column wrap;
}

.game-item-historial {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: column wrap;
}

.game-item {
    margin-right: 15px;
    min-width: 120px;
    max-height: 300px;
}

.game-item-l {
    display: flex;
    margin-right: 15px;
    min-width: 120px;
    max-height: 200px;
    overflow: hidden;
}

.logros-orga {
    font-size: 100px;
    color: #fff;
    display: flex;
    flex-flow: wrap-reverse;
    padding-left: 90px;
}

.item-logro {
    font-size: 100px;
    color: #fff;
    overflow-y: hidden;
}

.logro {
    font-size: 150px;
    color: #fff;
    padding: 20px;
}

.div-grande {
    background-color: #2f3153;
    top: 200px;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 20px;
    text-align: center;
}

.imagen-container {
    width: 30%;
    position: fixed;
    width: 100%;
    height: 30%;
}

.imagen-container img {
    width: 30%;
    object-fit: fill;
    width: 100%;
    height: auto;
}

.distribucion {
    display: flex;
}

/* Nueva sección para torneos jugados */
.imagen-torneos-jugados {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin-top: -30px; /* Superponer el texto sobre la imagen */
    position: relative;
    z-index: 1;
}

.texto h6 {
    font-family: 'Courier New', Courier, monospace; /* Fuente vintage */
    font-size: 1.2rem;
    color: #3a3a3a;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.texto p {
    font-family: 'Georgia', serif; /* Fuente clásica */
    font-size: 0.9rem;
    color: #555;
}

/* Estilo para el ion-card */
ion-card {
    --background: #3e3f4c;
    margin-bottom: 15px; /* Espacio entre tarjetas */
    border: 1px solid #ccc; /* Bordes sutiles */
    border-radius: 10px;
    transition: transform 0.2s; /* Animación al pasar el ratón */
}

ion-card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.distribucion-historial {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
    width: auto;
    height: auto;
    padding: 10px;
}

.distribucion-historial img {
    position: static;
    width: 150px;
}

.imagen-historial {
    position: relative;
    border-radius: 50%;
    height: auto;
    margin-right: 10px;
}

.texto-h {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 12px;
    flex: 1;
}

////////////////////////////////////////////////////////////////////////////
/////////////////cosas mas chiquitas///////////////////////////////////////////////////////////
.icono-atras {
    position: absolute;
    top: 10px;
    left: 20px;
}

.texto-h {
    max-width: 200px;
    color: #fff;
}

.texto2 {
    border-radius: 50px;
    width: 350px;
    color: #fff;
    padding: 20px;
}

.icono-config {
    position: absolute;
    top: 10px;
    right: 20px;
}

.iconos-stats {
    font-size: 40px;
}

#icono-user {
    font-size: 100px;
}

.titulo-torneos {
    padding-bottom: 20px;
}

.card-juegos {
    padding: 100px;
}

.game-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.trending-games-section {
    margin-top: 20px;
}

.info-perfil p {
    margin: 0;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.juegos-per {
    margin: 15px 0;
}

///-----------------------------------------------------------
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

///-----------------------------------------------------------
.profile-info h2 {
    margin: 10px 0 5px;
}

////////////stats bajo el perfil ////////////////////
.profile-stats {
    text-align: center;
    color: white;
}

////////////////////////////////////
.segmento-stats {
    color: white;
}

ion-card-title {
    color: #fff;
}

ion-slides {
    height: 200px;
}

ion-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-n {
    color: white;
    font-size: 40px;
}

.color {
    color: white;
}
