<ion-content class="general" [fullscreen]="true">
  <!------------------------imagen detrás------------------------------>
  <div class="imagen-container">
    <img [src]="juego?.cabecera" [alt]="juego?.nombre" />
  </div>

  <!--------------------------bloque grande----------------------------->
  <div class="div-general">
    <div class="div-cambiante">
      <!--------------------------botones------------------------------->
      <div>
        <ion-button fill="clear" class="icono-config">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" class="icono-atras" (click)="home()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>

        <div class="info-perfil">
          <h1>{{ juego?.nombre }}</h1>
        </div>

        <div class="juegos-per">
          <ion-chip [disabled]="true" color="primary">{{ juego?.tipo }}</ion-chip>
        </div>
      </div>

      <hr />
      <ion-card-title class="titulo-torneos">Descripción:</ion-card-title>

      <p class="descripcion">
        {{ juego?.descripcion }}
      </p>

      <hr />

      <div id="torneos">
        <ion-card-content class="torneos">
          <div class="scroll">
            <!------torneos dinámicos------------------------------------->
            <div *ngFor="let torneo of torneos$ | async" class="game-item" (click)="torneo()">
              <div class="distribucion">
                <img class="imagen-torneos-jugados" [src]="torneo.imagen" [alt]="torneo.nombre" />
                <div class="texto">
                  <h6>{{ torneo.nombre }}</h6>
                  <p>{{ torneo.estado }}</p>
                  <p>Entrada: {{ torneo.numEquipos > 0 ? 'gratis' : 'pagada' }}</p>
                  <p>Fecha: {{ torneo.fechaInicio }}</p>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </ion-card-content>
      </div>

      <hr />
    </div>
  </div>
</ion-content>
