.game-details {
    text-align: center;
    padding: 15px;
  }

  .game-logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(50, 52, 90, 0.5);
    margin: 10px 0;
  }

  .torneos-section {
    padding: 15px;
  }

  ion-list {
    margin: 10px 0;
  }