<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Campo para el nombre -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="pnombre"></ion-input>
  </ion-item>

  <!-- Campo para el apellido -->
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="papellido"></ion-input>
  </ion-item>

  <!-- Campo para el correo -->
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="eleCorreo"></ion-input>
  </ion-item>

  <!-- Campo para la nueva contraseña -->
  <ion-item>
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="nuevaContrasena">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <!-- Campo para confirmar la nueva contraseña -->
  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmarContrasena">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <ion-button expand="full" (click)="enviarConfirmacion()">Cambiar Contraseña</ion-button>
</ion-content>
