<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-content class="ion-padding">
    <!-- Paso 1: Ingresar correo -->
    <div *ngIf="!usuario">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="eleCorreo"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="verificarCorreo()">Verificar Correo</ion-button>
    </div>
  
    <!-- Paso 2: Mostrar pregunta de seguridad -->
    <div *ngIf="usuario && preguntaSeguridad && !nuevaContrasena">
      <ion-item>
        <ion-label position="stacked">Pregunta de Seguridad</ion-label>
        <ion-textarea readonly>{{ preguntaSeguridad }}</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Respuesta</ion-label>
        <ion-input [(ngModel)]="respuestaSeguridad"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="validarRespuesta()">Validar Respuesta</ion-button>
    </div>
  
    <!-- Paso 3: Cambiar contraseña -->
    <div *ngIf="nuevaContrasena !== undefined">
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="nuevaContrasena"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmarContrasena"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="cambiarContrasena()">Cambiar Contraseña</ion-button>
    </div>
  </ion-content>
  
