<ion-content>
  <ion-title>Recuperacion de Contraseña</ion-title>
  <!-- Paso 1: Verificar correo -->
  <div *ngIf="step === 1">
    <br><br><br>
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="eleCorreo" type="email"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="verificarCorreo()">Verificar Correo</ion-button>
  </div>

  <!-- Paso 2: Selección de pregunta y validación -->
  <div *ngIf="step === 2">
    <br><br><br>
    <ion-item>
      <ion-label>Selecciona tu pregunta de seguridad</ion-label>
      <ion-select [(ngModel)]="preguntaSeleccionada" placeholder="Seleccionar">
        <ion-select-option *ngFor="let pregunta of preguntasDisponibles" [value]="pregunta.pregunta">
          {{ pregunta.pregunta }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Respuesta</ion-label>
      <ion-input [(ngModel)]="respuestaSeguridad"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="validarRespuesta()">Validar Respuesta</ion-button>
  </div>

  <!-- Paso 3: Cambio de contraseña -->
  <div *ngIf="step === 3">
    <br><br><br>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input [(ngModel)]="nuevaContrasena" type="password"> <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="confirmarContrasena" type="password"> <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="cambiarContrasena()">Actualizar Contraseña</ion-button>
  </div>
</ion-content>
