.torneo-header {
  text-align: center;
  padding: 20px;
  background: var(--ion-color-light);
  border-radius: 10px;
  margin: 15px;
}

.torneo-header img {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.torneo-header h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 10px 0;
}

.torneo-header p {
  font-size: 1em;
  color: var(--ion-color-medium);
}

.acciones {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ion-card {
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

ion-list {
  max-height: 250px;
  overflow-y: auto;
}

ion-item {
  --background: var(--ion-color-light);
  border-radius: 10px;
  margin-bottom: 10px;
}

ion-item h3 {
  font-size: 1.1em;
  font-weight: bold;
}

ion-item p {
  color: var(--ion-color-medium);
  font-size: 0.9em;
}

ion-button {
  border-radius: 8px;
  font-size: 1em;
}
.torneo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.ronda {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.duelo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.jugador {
  padding: 5px;
}

.jugador.ganador {
  font-weight: bold;
  color: green;
}

.vs {
  font-weight: bold;
}
