ion-title {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

ion-content {
    --background: #1A1C3C;
    /* Fondo general del formulario */
    color: #ffffff;
}

ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    --background: #868192;
    /* Color gris violáceo */
    --border-radius: 12px;
}

.todo {
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.box {
    background: #8183a4;
    border-radius: 25px;
}

p {
    color: white;
}

ion-title {
    font-size: 23px;
}

.owo {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 30px;
}

.todod {
    border-radius: 20px;
    background: #3f458d;
}

.a {
    padding-bottom: 15px;
}